<h1>Edit A Post</h1>

<form action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label>
    Title
    <br>
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <br><br>

  <label>
    URL
    <br>
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <br><br>

  <label>
    Content
    <br>
    <textarea name="post[content]" rows="8" cols="80"> <%= @post.content %></textarea>
  </label>

  <br><br>
  <% Sub.all.each do |subr| %>
    <label><%= subr.title %>
    <input type="checkbox" name="post[sub_ids][]" value="<%= subr.id %>">
    </label>
  <% end %>
  <br><br>

  <input type="submit">
</form>
